
<section class="login-form-section">
    <h2>Login Form</h2>
    <form class="login-form" [formGroup] = "loginForm" (ngSubmit) = "doUserLogin(loginForm)">
        <mat-form-field class="example-full-width">
            <mat-label>email</mat-label>
            <input type="email" matInput placeholder="E-mail" formControlName ="email">
            <mat-error *ngIf="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.hasError('required')">
                Please enter email
              </mat-error>
              <mat-error *ngIf="(loginForm.get('email')?.touched || loginForm.get('email')?.dirty) && loginForm.get('email')?.hasError('minlength')">
                email must be min 5 characters
              </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>password</mat-label>
            <input type="password" matInput placeholder="password" formControlName ="password">
        </mat-form-field>
    
    
        <button mat-raised-button color="primary" >Login</button>
    </form>
</section>