
.new-note-form-section{
    margin:2em auto;
    width:60vw;
}
.notes-layout{
    margin:2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.note-card{
    margin:1em;
}
.mat-card-header{
    box-shadow: inset 0 -1px 0 0 #dadce0;
}
.div-breaker{
    box-shadow: inset 0 -1px 0 0 #dadce0;
}
.mat-card-title{
    font-size:1.2rem;
    font-weight: 500;     
}
.mat-card-content{
    padding-top:1em;
}

.note-card:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
}
.note-description{
    font-weight: 500;
}
.note-createdby-createdon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:1em;
}
.note-createdby, .note-createdon{
    margin-right:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.mg-1{
    margin-right:10px;
}
.category-priority{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}
.category{
    background-color: green;
    padding:10px;
    border-radius: 4px;
    
}
